In [1]:
import pandas as pd
import os
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, roc_auc_score
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier

In [2]:
# Load datasets from a folder
def load_and_print_datasets_from_folder(folder_path):
    datasets = {}
    for filename in os.listdir(folder_path):
        if filename.endswith('.csv'):
            file_path = os.path.join(folder_path, filename)
            dataset_name = os.path.splitext(filename)[0]
            df = pd.read_csv(file_path)
            datasets[dataset_name] = df
            # Print the DataFrame
            print(f"\nDataset: {dataset_name}")
            print(df.head())  # Print first few rows of the DataFrame
            print(df.info())  # Print DataFrame summary
    return datasets

In [3]:
def create_pipeline(categorical_features, numerical_features):
    # Preprocessing for numerical data
    numerical_transformer = Pipeline(steps=[
        ('imputer', SimpleImputer(strategy='median')),
        ('scaler', StandardScaler())
    ])

    # Preprocessing for categorical data
    categorical_transformer = Pipeline(steps=[
        ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),
        ('onehot', OneHotEncoder(handle_unknown='ignore'))
    ])

    # Combine preprocessing steps
    preprocessor = ColumnTransformer(
        transformers=[
            ('num', numerical_transformer, numerical_features),
            ('cat', categorical_transformer, categorical_features)
        ]
    )

    # Create the full pipeline with preprocessing and Random Forest classifier
    pipeline = Pipeline(steps=[
        ('preprocessor', preprocessor),
        ('classifier', RandomForestClassifier(n_estimators=100, random_state=42))
    ])
    
    return pipeline

In [5]:
def train_and_evaluate(pipeline, df):
    # Check if 'churn' column exists
    if 'churn' not in df.columns:
        raise ValueError("'churn' column not found in the dataset")
    
    # Split data into features and target
    X = df.drop(columns=['churn'])
    y = df['churn']
    
    # Split into train and test sets
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
    
    # Fit the pipeline
    pipeline.fit(X_train, y_train)
    
    # Make predictions
    y_pred = pipeline.predict(X_test)
    
    # Evaluate the model
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred)
    auc_roc = roc_auc_score(y_test, pipeline.predict_proba(X_test)[:, 1])
    
    return {
        'accuracy': accuracy,
        'precision': precision,
        'recall': recall,
        'auc_roc': auc_roc
    }

# Initialize the results list
results_list = []

# Load datasets
folder_path = r'E:\TASK2\churn_data'  # Update this path to your folder
datasets = load_and_print_datasets_from_folder(folder_path)

for dataset_name, df in datasets.items():
    print(f"\nProcessing dataset: {dataset_name}")
    
    # Print columns to debug missing column issues
    # print("Columns in the dataset:", df.columns.tolist())

    try:
        # Define features for pipeline; you may need to adapt these based on your dataset
        categorical_features = [col for col in df.columns if df[col].dtype == 'object' and col != 'churn']
        numerical_features = [col for col in df.columns if df[col].dtype in ['int64', 'float64'] and col != 'churn']
        
        # Create the pipeline
        pipeline = create_pipeline(categorical_features, numerical_features)
        
        # Train and evaluate
        evaluation_results = train_and_evaluate(pipeline, df)
        
        # Collect results
        results_list.append({
            'dataset_name': dataset_name,
            'accuracy': evaluation_results['accuracy'],
            'precision': evaluation_results['precision'],
            'recall': evaluation_results['recall'],
            'auc_roc': evaluation_results['auc_roc']
        })
        
        print(f"Evaluation results for {dataset_name}:")
        print(evaluation_results)
    except ValueError as e:
        print(f"Error for dataset {dataset_name}: {e}")
    except Exception as e:
        print(f"Unexpected error for dataset {dataset_name}: {e}")

# Convert results list to DataFrame
results_df = pd.DataFrame(results_list)

Dataset: BankChurners
   clientnum  churn  customer_age gender  dependent_count education_level  \
0  768805383      0            45      M                3     High School
1  818770008      0            49      F                5        Graduate
2  713982108      0            51      M                3        Graduate
3  769911858      0            40      F                4     High School
4  709106358      0            40      M                3      Uneducated

  marital_status income_category card_category  months_on_book  ...  \
0        Married     $60K - $80K          Blue              39  ...
1         Single  Less than $40K          Blue              44  ...
2        Married    $80K - $120K          Blue              36  ...
3        Unknown  Less than $40K          Blue              34  ...
4        Married     $60K - $80K          Blue              21  ...

   credit_limit  total_revolving_bal  avg_open_to_buy  total_amt_chng_q4_q1  \
0       12691.0                  777          11914.0                 1.335
1        8256.0                  864           7392.0                 1.541
2        3418.0                    0           3418.0                 2.594
3        3313.0                 2517            796.0                 1.405
4        4716.0                    0           4716.0                 2.175

   total_trans_amt  total_trans_ct  total_ct_chng_q4_q1  \
0             1144              42                1.625
1             1291              33                3.714
2             1887              20                2.333
3             1171              20                2.333
4              816              28                2.500

   avg_utilization_ratio  \
0                  0.061
1                  0.105
2                  0.000
3                  0.760
4                  0.000

   naive_bayes_classifier_attrition_flag_card_category_contacts_count_12_mon_dependent_count_education_level_months_inactive_12_mon_1  \
0                                           0.000093
1                                           0.000057
2                                           0.000021
3                                           0.000134
4                                           0.000022

   naive_bayes_classifier_attrition_flag_card_category_contacts_count_12_mon_dependent_count_education_level_months_inactive_12_mon_2
0                                            0.99991
1                                            0.99994
2                                            0.99998
3                                            0.99987
4                                            0.99998

[5 rows x 23 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 23 columns):
 #   Column                                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                                              --------------  -----
 0   clientnum                                                                                                                           10127 non-null  int64
 1   churn                                                                                                                               10127 non-null  int64
 2   customer_age                                                                                                                        10127 non-null  int64
 3   gender                                                                                                                              10127 non-null  object
 4   dependent_count                                                                                                                     10127 non-null  int64
 5   education_level                                                                                                                     10127 non-null  object
 6   marital_status                                                                                                                      10127 non-null  object
 7   income_category                                                                                                                     10127 non-null  object
 8   card_category                                                                                                                       10127 non-null  object
 9   months_on_book                                                                                                                      10127 non-null  int64
 10  total_relationship_count                                                                                                            10127 non-null  int64
 11  months_inactive_12_mon                                                                                                              10127 non-null  int64
 12  contacts_count_12_mon                                                                                                               10127 non-null  int64
 13  credit_limit                                                                                                                        10127 non-null  float64
 14  total_revolving_bal                                                                                                                 10127 non-null  int64
 15  avg_open_to_buy                                                                                                                     10127 non-null  float64
 16  total_amt_chng_q4_q1                                                                                                                10127 non-null  float64
 17  total_trans_amt                                                                                                                     10127 non-null  int64
 18  total_trans_ct                                                                                                                      10127 non-null  int64
 19  total_ct_chng_q4_q1                                                                                                                 10127 non-null  float64
 20  avg_utilization_ratio                                                                                                               10127 non-null  float64
 21  naive_bayes_classifier_attrition_flag_card_category_contacts_count_12_mon_dependent_count_education_level_months_inactive_12_mon_1  10127 non-null  float64
 22  naive_bayes_classifier_attrition_flag_card_category_contacts_count_12_mon_dependent_count_education_level_months_inactive_12_mon_2  10127 non-null  float64
dtypes: float64(7), int64(11), object(5)
memory usage: 1.8+ MB
None

Dataset: Bank_churn
   rownumber  customerid   surname  creditscore geography  gender  age  \
0          1    15634602  Hargrave          619    France  Female   42
1          2    15647311      Hill          608     Spain  Female   41
2          3    15619304      Onio          502    France  Female   42
3          4    15701354      Boni          699    France  Female   39
4          5    15737888  Mitchell          850     Spain  Female   43

   tenure    balance  numofproducts  hascrcard  isactivemember  \
0       2       0.00              1          1               1
1       1   83807.86              1          0               1
2       8  159660.80              3          1               0
3       1       0.00              2          0               0
4       2  125510.82              1          1               1

   estimatedsalary  churn
0        101348.88      1
1        112542.58      0
2        113931.57      1
3         93826.63      0
4         79084.10      0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   rownumber        10000 non-null  int64
 1   customerid       10000 non-null  int64
 2   surname          10000 non-null  object
 3   creditscore      10000 non-null  int64
 4   geography        10000 non-null  object
 5   gender           10000 non-null  object
 6   age              10000 non-null  int64
 7   tenure           10000 non-null  int64
 8   balance          10000 non-null  float64
 9   numofproducts    10000 non-null  int64
 10  hascrcard        10000 non-null  int64
 11  isactivemember   10000 non-null  int64
 12  estimatedsalary  10000 non-null  float64
 13  churn            10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB
None

Dataset: churn-bigml-80
  state  account length  area code international plan voice mail plan  \
0    KS             128        415                 No             Yes
1    OH             107        415                 No             Yes
2    NJ             137        415                 No              No
3    OH              84        408                Yes              No
4    OK              75        415                Yes              No

   number vmail messages  total day minutes  total day calls  \
0                     25              265.1              110
1                     26              161.6              123
2                      0              243.4              114
3                      0              299.4               71
4                      0              166.7              113

   total day charge  total eve minutes  total eve calls  total eve charge  \
0             45.07              197.4               99             16.78
1             27.47              195.5              103             16.62
2             41.38              121.2              110             10.30
3             50.90               61.9               88              5.26
4             28.34              148.3              122             12.61

   total night minutes  total night calls  total night charge  \
0                244.7                 91               11.01
1                254.4                103               11.45
2                162.6                104                7.32
3                196.9                 89                8.86
4                186.9                121                8.41

   total intl minutes  total intl calls  total intl charge  \
0                10.0                 3               2.70
1                13.7                 3               3.70
2                12.2                 5               3.29
3                 6.6                 7               1.78
4                10.1                 3               2.73

   customer service calls  churn
0                       1      0
1                       1      0
2                       0      0
3                       2      0
4                       3      0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2666 entries, 0 to 2665
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   2666 non-null   object
 1   account length          2666 non-null   int64
 2   area code               2666 non-null   int64
 3   international plan      2666 non-null   object
 4   voice mail plan         2666 non-null   object
 5   number vmail messages   2666 non-null   int64
 6   total day minutes       2666 non-null   float64
 7   total day calls         2666 non-null   int64
 8   total day charge        2666 non-null   float64
 9   total eve minutes       2666 non-null   float64
 10  total eve calls         2666 non-null   int64
 11  total eve charge        2666 non-null   float64
 12  total night minutes     2666 non-null   float64
 13  total night calls       2666 non-null   int64
 14  total night charge      2666 non-null   float64
 15  total intl minutes      2666 non-null   float64
 16  total intl calls        2666 non-null   int64
 17  total intl charge       2666 non-null   float64
 18  customer service calls  2666 non-null   int64
 19  churn                   2666 non-null   int64
dtypes: float64(8), int64(9), object(3)
memory usage: 416.7+ KB
None

Dataset: Customertravel
   age frequentflyer annualincomeclass  servicesopted  \
0   34            No     Middle Income              6
1   34           Yes        Low Income              5
2   37            No     Middle Income              3
3   30            No     Middle Income              2
4   30            No        Low Income              1

  accountsyncedtosocialmedia bookedhotelornot  churn
0                         No              Yes      0
1                        Yes               No      1
2                        Yes               No      0
3                         No               No      0
4                         No               No      0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 954 entries, 0 to 953
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   age                         954 non-null    int64
 1   frequentflyer               954 non-null    object
 2   annualincomeclass           954 non-null    object
 3   servicesopted               954 non-null    int64
 4   accountsyncedtosocialmedia  954 non-null    object
 5   bookedhotelornot            954 non-null    object
 6   churn                       954 non-null    int64
dtypes: int64(3), object(4)
memory usage: 52.3+ KB
None

Dataset: E Commerce Dataset
   customerid  churn  tenure preferredlogindevice  citytier  warehousetohome  \
0       50001      1     4.0         Mobile Phone         3              6.0
1       50002      1     NaN                Phone         1              8.0
2       50003      1     NaN                Phone         1             30.0
3       50004      1     0.0                Phone         3             15.0
4       50005      1     0.0                Phone         1             12.0

  preferredpaymentmode  gender  hourspendonapp  numberofdeviceregistered  \
0           Debit Card  Female             3.0                         3
1                  UPI    Male             3.0                         4
2           Debit Card    Male             2.0                         4
3           Debit Card    Male             2.0                         4
4                   CC    Male             NaN                         3

     preferedordercat  satisfactionscore maritalstatus  numberofaddress  \
0  Laptop & Accessory                  2        Single                9
1              Mobile                  3        Single                7
2              Mobile                  3        Single                6
3  Laptop & Accessory                  5        Single                8
4              Mobile                  5        Single                3

   complain  orderamounthikefromlastyear  couponused  ordercount  \
0         1                         11.0         1.0         1.0
1         1                         15.0         0.0         1.0
2         1                         14.0         0.0         1.0
3         0                         23.0         0.0         1.0
4         0                         11.0         1.0         1.0

   daysincelastorder  cashbackamount
0                5.0          159.93
1                0.0          120.90
2                3.0          120.28
3                3.0          134.07
4                3.0          129.60
<class 'pandas.core.frame.DataFrame'>
Index: 5630 entries, 0 to 5629
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   customerid                   5630 non-null   int64
 1   churn                        5630 non-null   int64
 2   tenure                       5366 non-null   float64
 3   preferredlogindevice         5630 non-null   object
 4   citytier                     5630 non-null   int64
 5   warehousetohome              5379 non-null   float64
 6   preferredpaymentmode         5630 non-null   object
 7   gender                       5630 non-null   object
 8   hourspendonapp               5375 non-null   float64
 9   numberofdeviceregistered     5630 non-null   int64
 10  preferedordercat             5630 non-null   object
 11  satisfactionscore            5630 non-null   int64
 12  maritalstatus                5630 non-null   object
 13  numberofaddress              5630 non-null   int64
 14  complain                     5630 non-null   int64
 15  orderamounthikefromlastyear  5365 non-null   float64
 16  couponused                   5374 non-null   float64
 17  ordercount                   5372 non-null   float64
 18  daysincelastorder            5323 non-null   float64
 19  cashbackamount               5630 non-null   float64
dtypes: float64(8), int64(7), object(5)
memory usage: 923.7+ KB
None

Dataset: ecom-user-churn-data
   visitorid  ses_rec  ses_rec_avg  ses_rec_sd  ses_rec_cv  user_rec  ses_n  \
0         89     23.0         16.0         0.0         0.0      39.0    2.0
1        251     23.0         61.0         0.0         0.0      85.0    2.0
2        270     14.0          0.1         0.3         3.0      21.0   11.0
3        298     11.0         13.0         0.0         0.0      24.0    2.0
4        474     16.0         26.0         0.0         0.0      43.0    2.0

    ses_n_r  int_n   int_n_r  ...  int_cat16_n  int_cat17_n  int_cat18_n  \
0  0.051282    3.0  1.500000  ...            0            0            0
1  0.023529    2.0  1.000000  ...            0            0            0
2  0.523810   13.0  1.181818  ...            0            0            0
3  0.083333    4.0  2.000000  ...            0            0            0
4  0.046512    2.0  1.000000  ...            2            0            0

   int_cat19_n  int_cat20_n  int_cat21_n  int_cat22_n  int_cat23_n  \
0            0            3            0            0            0
1            0            0            0            1            0
2            0            0            0           13            0
3            3            1            0            0            0
4            0            0            0            0            0

   int_cat24_n  churn
0            0      1
1            0      1
2            0      1
3            0      1
4            0      1

[5 rows x 49 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49358 entries, 0 to 49357
Data columns (total 49 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   visitorid      49358 non-null  int64
 1   ses_rec        49358 non-null  float64
 2   ses_rec_avg    49358 non-null  float64
 3   ses_rec_sd     49358 non-null  float64
 4   ses_rec_cv     49358 non-null  float64
 5   user_rec       49358 non-null  float64
 6   ses_n          49358 non-null  float64
 7   ses_n_r        49358 non-null  float64
 8   int_n          49358 non-null  float64
 9   int_n_r        49358 non-null  float64
 10  tran_n         49358 non-null  float64
 11  tran_n_r       49358 non-null  float64
 12  rev_sum        49358 non-null  float64
 13  rev_sum_r      49358 non-null  float64
 14  major_spend_r  49358 non-null  float64
 15  int_cat_n_avg  49358 non-null  float64
 16  int_itm_n_avg  49358 non-null  float64
 17  ses_mo_avg     49358 non-null  float64
 18  ses_mo_sd      49358 non-null  float64
 19  ses_ho_avg     49358 non-null  float64
 20  ses_ho_sd      49358 non-null  float64
 21  ses_wknd_r     49358 non-null  float64
 22  ses_len_avg    49358 non-null  float64
 23  time_to_int    49358 non-null  float64
 24  time_to_tran   49358 non-null  float64
 25  int_cat1_n     49358 non-null  int64
 26  int_cat2_n     49358 non-null  int64
 27  int_cat3_n     49358 non-null  int64
 28  int_cat4_n     49358 non-null  int64
 29  int_cat5_n     49358 non-null  int64

In [ ]:
# Print the results DataFrame
print("\nAll Evaluation Results:")
print(results_df)

In [ ]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

# Set the path for data and results
data_dir = 'churn_data'
results_dir = 'eda_results'
os.makedirs(results_dir, exist_ok=True)

def perform_eda(df, dataset_name):
    # Summary statistics
    summary_stats = df.describe(include='all').transpose()
    summary_stats.to_csv(os.path.join(results_dir, f'{dataset_name}_summary_stats.csv'))

    # Data types
    data_types = df.dtypes
    data_types.to_csv(os.path.join(results_dir, f'{dataset_name}_data_types.csv'))

    # Missing values
    missing_values = df.isnull().sum()
    missing_values.to_csv(os.path.join(results_dir, f'{dataset_name}_missing_values.csv'))

    # Distribution of target variable
    if 'churn' in df.columns:
        churn_dist = df['churn'].value_counts(normalize=True)
        churn_dist.to_csv(os.path.join(results_dir, f'{dataset_name}_churn_distribution.csv'))

    # Categorical features
    categorical_features = df.select_dtypes(include=['object']).columns
    for cat_feature in categorical_features:
        if cat_feature != 'churn':
            cat_dist = df[cat_feature].value_counts()
            cat_dist.to_csv(os.path.join(results_dir, f'{dataset_name}_{cat_feature}_distribution.csv'))

    # Numerical features
    numerical_features = df.select_dtypes(include=['int64', 'float64']).columns
    for num_feature in numerical_features:
        plt.figure(figsize=(10, 6))
        sns.histplot(df[num_feature], kde=True)
        plt.title(f'Distribution of {num_feature}')
        plt.xlabel(num_feature)
        plt.ylabel('Frequency')
        plt.savefig(os.path.join(results_dir, f'{dataset_name}_{num_feature}_distribution.png'))
        plt.close()

        plt.figure(figsize=(10, 6))
        sns.boxplot(x=df[num_feature])
        plt.title(f'Box plot of {num_feature}')
        plt.xlabel(num_feature)
        plt.savefig(os.path.join(results_dir, f'{dataset_name}_{num_feature}_boxplot.png'))
        plt.close()

    # Correlation analysis
    correlation_matrix = df[numerical_features].corr()
    plt.figure(figsize=(12, 10))
    sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt='.2f')
    plt.title('Correlation Matrix')
    plt.savefig(os.path.join(results_dir, f'{dataset_name}_correlation_matrix.png'))
    plt.close()

# Load datasets and perform EDA
for file_name in os.listdir(data_dir):
    if file_name.endswith('.csv'):
        dataset_name = os.path.splitext(file_name)[0]
        print(f"Processing dataset: {dataset_name}")
        file_path = os.path.join(data_dir, file_name)
        df = pd.read_csv(file_path)
        perform_eda(df, dataset_name)